<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            width: 200px;
            height: 200px;
            background-color: yellowgreen;
        }
    </style>
</head>
<body>
    <div id="app">
        <h3>v-if条件渲染</h3>
        <!-- v-if 会频繁切换标签，影响性能，适合加载一次使用 -->
        <input type="checkbox" v-model="flag">勾选后显示
        <div class="box" v-if="flag"></div>
        <p v-else="flag">黄盒子隐藏了</p>
        <h3>v-show条件渲染</h3>
        <!-- v-show 是通过更改display的值，造成展示和隐藏的效果，而不是重新加载div，适合多次切换的场景 -->
        <div class="box" v-show="flag"></div>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data:{
                flag:true
            }
        })
    </script>
</body>
</html>